{% extends "base.html" %}

{% block title %}Entradas{% endblock %}

{% block content_title %}{% if search %}Búsqueda "{{ search }}"{% else %}Entradas{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    <h3>
      <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
        {{ entry.title }}
      </a>
    </h3>
    <p>Creado el {{ entry.timestamp.strftime('%d/%m/%Y a las %H:%M:%S') }}</p>
  {% else %}
    <p>No hay posteos todavía.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}